@{
    ViewData["Title"] = "Queries hub";
}
<div class="card">
    <div class="card-header">LINQ data output options</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5>With input</h5>
                <form method="get" action="/Queries/AuthorSearch" class="row g-2 mb-2">
                    <div class="col-auto">
                        <input class="form-control" name="q" placeholder="e.g. Tolkien" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Run</button>
                    </div>
                </form>
                <form method="get" action="/Queries/BookSearch" class="row g-2 mb-2">
                    <div class="col-auto">
                        <input class="form-control" name="q" placeholder="e.g. Hobbit" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Run</button>
                    </div>
                </form>
                <form method="get" action="/Queries/BooksByYear" class="row g-2 mb-2">
                    <div class="col-auto">
                        <input class="form-control" type="number" name="minYear" placeholder="e.g. 1950" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Run</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h5>Without input</h5>
                <ul>
                    <li><a asp-controller="Queries" asp-action="AllAuthors">All authors (sorted)</a></li>
                    <li><a asp-controller="Queries" asp-action="BooksSorted">Books sorted by year then title</a></li>
                    <li><a asp-controller="Queries" asp-action="AuthorBookCounts">Author ? Book count</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
